
/* Main Elements */

* {
    box-sizing: border-box;
}

body {
    color: black;
    /* margin-bottom: 2em; */
}

a {
    color: orange;
    text-decoration: none; 
}



h1 {
    margin: 0; 
    padding: 1em 0 .5em;
}

/* Psuedo ELements */
a:hover {
    color: rgb(21, 196, 21);
}

/* Classes */
.main-header {
    background: linear-gradient(#144474, lightblue, #ffffff); 
    text-align: left;
    margin: 0;  
    padding: 0 1em .5em 1em; 
    box-sizing: border-box;
    font-family: 'Arial narrow bold', Helvetica, sans-serif;
    height: 250px;

}

.main-header a {
    color: rgb(0, 0, 0); 
}
.main-header a:hover {
   color: #B8CA98;
}

.name {
    text-align: center;
    /* width: 100%;
    z-index: 1000; */
}

.main-nav a {
    display: block;

}
.main-nav li {
    text-align: center;
    display: block; 
    width: 85%;
    margin: 0 auto;
    padding: .25em;
    margin-bottom: .5em;
}

.instagram {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    width: 40px; 
    height: 40px; 
    -webkit-filter: invert(90%); filter: invert(90%);    
}

.timeline {
    padding: 12px 12px;
}

.kayak {
    position: center;
    width: 200px;
    padding-right: 1em;
}

.Random {
    width: 200px;
}
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: #8B8E84;
    text-align: center;
    padding: .75em 0;
    
}

#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2em;
}

/* Media Queries */

/* Tablet size */
@media (min-width: 768px){

    .main-header{
        text-align: center; 

    }

    .main-nav {
        padding-left: 1.25em; /*To center nav under title. 
                            Remove if spacing issue is solved*/
    }

    .main-nav li {
        display: inline-block; 
        padding: .5em; 
        width: 100px;
    }
}


/* Laptop size */
@media (min-width: 1024px){


}
