/* This page has the styling for index.html */

/* ================
    Main Elements 
===================*/

* {
    box-sizing: border-box;
}


/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

body {
    color: black;
    background: linear-gradient(white, white, grey, grey);
}

a {
    color: orange;
    text-decoration: none; 
}

h1 {
    margin: 0; 
    padding: 1em 0 .5em;
}


/* ====================
    Psuedo ELements 
=======================*/

a:hover {
    color: rgb(21, 196, 21);
}


/* ====================
    Classes 
=======================*/

.main-header {
    background: linear-gradient(#144474, lightblue, #ffffff); 
    text-align: left;
    margin: 0 0 2em;  
    padding: 0 1em .5em 1em; 
    box-sizing: border-box;
    font-family: 'Arial narrow bold', Helvetica, sans-serif;
    height: 250px;

}

.main-header a {
    color: rgb(0, 0, 0); 
}
.main-header a:hover {
   color: #B8CA98;
}

.name {
    text-align: center;
    /* width: 100%;
    z-index: 1000; */
}

.main-nav a {
    display: block;

}
.main-nav li {
    text-align: center;
    display: block; 
    width: 85%;
    margin: 0 auto;
    padding: .25em;
    margin-bottom: .5em;
}

.instagram {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    width: 40px; 
    height: 40px; 
    -webkit-filter: invert(90%); filter: invert(90%);    
}

img.waterfall, 
.random, 
.kayak {
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    /* margin-top: 2em;  */
}

.waterfall, 
.random, 
.kayak {
    width: 250px; 
}

.timeline,
.trails,
.creatures {
    background-color: rgb(181, 251, 251);
    border-radius: 1em;
    padding-top: .25em;
    margin: 1em;
}
.bus, 
.moreBus, 
.descript {
    width: 90%; 
    margin: 1em auto; 
}

.bus,
.secHead {
    text-align:  center;
}

.descript,
.moreBus {
    padding-bottom: 1.5em;
}
.main-footer {
    color: rgb(181, 251, 251);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: rgb(92, 91, 91);
    text-align: center;
    padding: .75em 0;
    /* border-top: white 2px solid; */
}


/* ================
        ID's 
===================*/

#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 4em;
    /* flex: 1; */
}


/* ================
    Media Queries 
===================*/

/* Tablet size */

@media (min-width: 768px){

    .main-header{
        text-align: center; 
        padding-top: 25px; 
        margin: 0;
    }

    .name {
        font-size: 3em; 
    }

    .main-nav {
        padding-left: 1.25em; /*To center nav under title. 
                            Remove if spacing issue is solved*/
    }

    .main-nav li {
        display: inline-block; 
        padding: .5em; 
        width: 100px;
    }
    .waterfall {
        width: 55%;
        float: left; 
        border-radius: 1em 0 0 1em;
    }

    .timeline {
        width: 80%; 
        background-color: rgb(181, 251, 251); 
        margin: 0 auto; 
        border-radius: 1em;
    }

    .bus, 
    .moreBus {
        width: 45%; 
        padding-left: 4%;
        padding-right: 4%; 
    }

    .bus {
        text-align: center; 
        float: right; 
    }

    .moreBus {
        float: left; 
    }

    .trails {  
        background-color: rgb(181, 252, 252); 
        margin-left: 5%; 
        margin-right: 5%; 
        float: left; 
    }

    .random,
    .kayak {   
        width: 100%;
        height: 240px; 
    }

    .trails, 
    .creatures {
        width: 42.5%; 
        float: left; 
        border-radius: 1em;
    }

    .creatures {   
        background-color: rgb(181, 252, 252); 
    }

    .chunk {
        margin: 2em 0 6em; 
    }

    .secHead {
       
    }

    .clearfix::after {
        content: ""; 
        display: table; 
        clear: both;
        overflow: auto; 
    }
}




/* Laptop size */

@media (min-width: 1024px){


}

